html, body {
    margin: 0px;
    background-color: #dbdac4;
}

#main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px 100px;
}

header {
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 20px;
}
header h1 {
    margin-bottom: 0px;
}

.article {
    
    display: flex;
    justify-content: center;
    align-items: center;

    
    padding: 0px 50px;
}


    .image {
    grid-area: image;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px
}
.image img{
    width: 100px;
}